$primary:rgba(0,0,0,.78);
$green:#66af99;
$yellow:#ffbb00;
$blue:#00507f;
@media only screen and (max-width: 600px){
    
    .about-me,.experience{
        margin:0;
        width:100%;
        .mainPostsContainer{
            padding:0;
        }
    }
 }

//end @media

.mainPostsContainer{
    max-width:1400px;
    margin:0 auto;
    padding:2rem;
}

.about-h2{
    font-size: 2rem;
    margin:2rem;
    
}
/*About***********************************************************/
.about-me{
    order:1;
    .mainPostsContainer{
        display:flex;
        justify-content:space-evenly;
        flex-wrap: wrap;
        .postContainer{
            background: #ffbb00;
            -webkit-box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.4); 
            box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.4);
            padding:1rem;
            width:60%;
            min-width: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap:wrap;
            .imgContainer{
                width:150px;
                img{border-radius:100%;}
            }
            
            .contentContainer{
                .title-content{
                    div{
                    font-size: 1.25rem;
                    font-weight: 300;
                    margin:1.5rem;
                    text-align: center;
                    }
                }
                .content{
                    font-weight: 600;
                    p{
                        margin-left:5rem;
                        font-family: "Inconsolata", serif;
                        font-weight: 300;
                    }
                    ul{

                    }
                    .intro{
                        text-align: center;
                        font-weight: 400;
                        font-style: italic;
                    }
                    .title{
                        border-top:1px solid $primary;
                        padding-top:.5rem;
                        color:$primary;
                        margin:1rem 0 1rem 2rem;
                    }
                    ul{
                        margin:1rem 0 0 6rem;
                        font-weight: 400;
                        font-family: "Inconsolata", serif;
                    }
                    .subtitle{
                        margin:1rem 0 0 5rem;
                        
                    }
                }

            }

        }
        
    }
}
/*Experiences***********************************************************/
.experience{
    order:3;
    .mainPostsContainer{
        display:flex;
        justify-content:space-evenly;
        flex-wrap: wrap;
        .postContainer{
            padding:1rem;
            width:100%;
            display: flex;
            margin-bottom: 1rem;
            .imgContainer{width:150px;}
            .contentContainer{
                .title-content{
                    font-size: 1.5rem;
                    margin-bottom:1rem;
                }
                .content{
                    font-weight: 600;
                    font-size:1.25rem;
                    line-height: 1.25rem;
                    ul{
                       font-weight: 300; 
                        
                        li{
                            margin:1rem;
                            font-family: "Open Sans", sans-serif;
                        }
                    }
                    margin-left:1rem;
                    border-left:5px solid $blue;
                    padding-left: 1rem;
                }
            }
            
            }

        }
        
    }
/*Work***********************************************************/
.work{
   
order:2;
    .mainPostsContainer{
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
        
        .postContainer{
        
            position: relative;
            min-width:250px;
            max-width:500px;
            min-height:5rem;
            
            -webkit-box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.4); 
            box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.4);
            margin:1rem;
        }
        @media screen and (max-width:274px) {
            .postContainer{
            width: 175px; 
            margin:.5rem;}
        }
        
            div.title-excerpt-link{
                opacity:0;
                background: rgba(255,255,255,.9);
                display:flex;
                flex-direction: column;
                position: absolute;
                transform: translateY(-100%);
                width:100%;
                height:100%;
                justify-content: center;
                align-items: center;
            }
            div.title-excerpt-link:hover, div.title-excerpt-link:focus{
                opacity:1;
            }
            h2.title{
                color:$primary;
                width:100%;
                text-align: center;
                z-index:98;
            }
            p{
                color:$primary;
                width:100%;
                text-align: center;
                z-index:98;
                font-size: 1rem;
                margin-top:1rem;
                font-weight: 400;
            }
    }
}
